

#wrap{width:100%; height:3648px; background-color:#131313;}

#slider > .text > .test{ transform:translateY(80px); transition:2s; opacity:0;}
#slider p{ font-family:'Pretendard-Regular'; font-style:italic; color:#e5e5e5; transform:translateY(50px); transition:7s; opacity:0; }
video{position:absolute; top:0; left:0;}

@media(min-width:1000px){
    #slider{width:100%; height: 950px;}
    video{width:100%; height:1000px;}
    #slider > .text{width:500px; height:900px; opacity:0.6; position:absolute; left:55%; top:17%;}
    #slider > .text > .test{width:500px; height:450px;}
    #slider > .text > #test1{width:500px; font-size:40px; padding-left:100px; padding-top:20px; margin:0;}

    #three{width:1110px; height:450px; margin:0 auto; display:flex; flex-flow:row wrap; margin-top:50px;}
    #three h1{ height:0; font-size:18px; font-family: 'EliceDigitalBaeum_Regular'; color:white; font-weight: normal; text-align:center;}

    #three > .box1{width:1110px; height:390px; margin-top:50px; display:flex;}
    #three > .box1 > .contents1{width:277.5px; height:390px; background-color:gray; position:relative;}
    #three > .box1 > .contents1 img{max-width: 100%; height:100%; opacity: 1; transition:0.8s;}
    #three > .box1 > .contents1 img:hover{opacity:0.2; transition:0.3s; cursor:pointer;}
    #three > .box1 > .contents1 > #minibox1{width: 100px; background-color:#f9b81e; text-align:center; font-family: 'Pretendard-Regular'; position:absolute; bottom:90%; left:10%;}
    #three > .box1 > .contents1 > #minibox2{width: 100px; background-color:#f9b81e; text-align:center; font-family: 'Pretendard-Regular'; position:absolute; bottom:90%; left:10%;}
    #three > .box1 > .contents1 > #minibox3{width: 100px; background-color:#f9b81e; text-align:center; font-family: 'Pretendard-Regular'; position:absolute; bottom:90%; left:10%;}
    #three > .box1 > .contents1 > #minibox4{width: 100px; background-color:#f9b81e; text-align:center; font-family: 'Pretendard-Regular'; position:absolute; bottom:90%; left:10%;}
    
    #three > .box1 > .contents1 > #text1{display:none;}
    #three > .box1 > .contents1 > #text1 > span{ padding-left:20px; padding-right:20px; text-align:center; position:absolute; bottom:50%;}
    #three > .box1 > .contents1 > #text1 > span:nth-of-type(1){font-size:23px; font-weight:bold; position:absolute; bottom:60%;}
    #three > .box1 > .contents1 > #text1 > span:nth-of-type(2){ position:absolute; bottom:33%;}
    #three > .box1 > .contents1 > #text1 > span:nth-of-type(3){ position:absolute; bottom:15%;}

    #three > .box1 > .contents1 > #text2{display:none;}
    #three > .box1 > .contents1 > #text2 > span{ padding-left:20px; padding-right:20px;  text-align:center; position:absolute; bottom:50%;}
    #three > .box1 > .contents1 > #text2 > span:nth-of-type(1){font-size:19px; font-weight:bold; bottom:45%;}
    #three > .box1 > .contents1 > #text2 > span:nth-of-type(2){ position:absolute; bottom:15%;}

    #three > .box1 > .contents1 > #text3{display:none;}
    #three > .box1 > .contents1 > #text3 > span{ padding-left:20px; padding-right:20px; text-align:center; position:absolute; bottom:50%; }
    #three > .box1 > .contents1 > #text3 > span:nth-of-type(1){font-size:21px; font-weight:bold; position:absolute; bottom:43%;}
    #three > .box1 > .contents1 > #text3 > span:nth-of-type(2){ position:absolute; bottom:9%;}

    #three > .box1 > .contents1 > #text4{display:none;}
    #three > .box1 > .contents1 > #text4 > span{ padding-left:20px; padding-right:20px; text-align:center; position:absolute; bottom:50%; }
    #three > .box1 > .contents1 > #text4 > span:nth-of-type(1){font-size:18px; font-weight:bold; position:absolute; bottom:43%;}
    #three > .box1 > .contents1 > #text4 > span:nth-of-type(2){ position:absolute; bottom:8%;}

    #four{width:100%; height:630px; margin:0 auto; margin-top:50px; position:relative;}
    #four > #text4 {width:1110px; height:180px; margin:0 auto;}
    #four > #text4 p{width:50px; height:30px; font-family: 'EliceDigitalBaeum_Regular'; text-align:center; line-height: 30px; background-color:#f9b81e; color:black; position:absolute; top:1%;}
    #four > #text4 span{font-family: 'EliceDigitalBaeum_Regular'; font-size:18px; color:white; text-align:center; position:absolute; top:7%;}
    #four > .box2{width:100%; height: 500px; display:flex; justify-content: center; margin-top:-85px;}
    #four > .box2 > .contents2{width:350px; height:500px;  overflow: hidden; }
    #four > .box2 > .contents2 span{font-family: 'Pretendard-Regular'; color:#e5e5e5;}
    #four > .box2 > .contents2:nth-of-type(1){margin-right:35px;}
    #four > .box2 > .contents2:nth-of-type(2){margin-right:35px;}
    #four > .box2 > .contents2 img{max-width:100%; height:250px; cursor:pointer; transition:0.5s; opacity: 1;}
    #four > .box2 > .contents2 img:hover{opacity:0.2; transform: scale(1.1); transition:0.3s;}
    #four > .box2 > .contents2 a{text-decoration: none; color:#f9b81e;}

    #four > .box2 > .contents2 > #text5{width:350px; height:250px; text-align:center;}
    #four > .box2 > .contents2 > #text5 > span:nth-of-type(1){font-size:25px;}
    #four > .box2 > .contents2 > #text5 > span:nth-of-type(2){color:#898989;}
    #four > .box2 > .contents2 > #text5 > span:nth-of-type(3){color:#898989;}

    #four > .box2 > .contents2 > #text6{width:350px; height:250px; text-align:center;}
    #four > .box2 > .contents2 > #text6 > span:nth-of-type(1){font-size:25px;}
    #four > .box2 > .contents2 > #text6 > span:nth-of-type(2){color:#898989; font-weight: normal;}
    #four > .box2 > .contents2 > #text6 > span:nth-of-type(3){color:#898989; font-weight: normal;}

    #four > .box2 > .contents2 > #text7{width:350px; height:250px; text-align:center;}
    #four > .box2 > .contents2 > #text7 > span:nth-of-type(1){font-size:25px;}
    #four > .box2 > .contents2 > #text7 > span:nth-of-type(2){color:#898989;}
    #four > .box2 > .contents2 > #text7 > span:nth-of-type(3){color:#898989;}

    #four > .box2 > .contents2 > .more1{display:none; width:350px; height:500px; transition:0.3s; font-family: 'Pretendard-Regular'; font-size:23px; margin:0 auto; text-align:center;}
    #four > .box2 > .contents2 > .more2{display:none; width:350px; height:500px; transition:0.3s; font-family: 'Pretendard-Regular'; font-size:23px; margin:0 auto; text-align:center;}
    #four > .box2 > .contents2 > .more3{display:none; width:350px; height:500px; transition:0.3s; font-family: 'Pretendard-Regular'; font-size:23px; margin:0 auto; text-align:center;}

    #five{width:100%; height:580px; display:flex; justify-content: center; position:relative;}
    #five p{width:1110px; height:10px; font-size:18px; font-family: 'EliceDigitalBaeum_Regular'; color:white; position:absolute; bottom:100%; z-index:9;}
    
    .slidebox{width:1110px; height:820px; display:flex;}
    .slidebox > #slidewrap{width:1110px; height:500px; overflow:hidden; position:relative; margin-top:50px; border:1px solid black;}
    .slide{width:6660px; position:relative;}
    .slide li{width:1110px; height:500px; float:left;}
    
    .slide li img{width:100%; height:100%;}
    #slidewrap span{ position:absolute; display:block;}
    #slidewrap .prev{left:0;}
    #slidewrap .next{right:0;}

    #six{width:100%; height:790px; background-color:black; display:flex; justify-content: center; align-items: center;}
    #six > .box4{width:1250px; height:640px; position:relative; }
    #six > .box4 > #text13{width:1110px; height:30px; position:relative; font-family: 'EliceDigitalBaeum_Regular'; bottom:3%;}
    #six > .box4 > #text13 h1{font-size:18px; color:white; font-weight: normal; margin-left:70px;}

    #six > .box4 > .order{width:900px; height:600px; position:relative;}
    #six > .box4 > .order button{width:150px; height:50px; }
    #six > .box4 > .order > .contents8{width:900px; height:600px; position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents8 > .photo10{width:900px; height:640px; border-radius:10px; position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents8 > #text14{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents8 > #text14 h1{width:300px; font-size:20px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; }
    #six > .box4 > .order > .contents8 > #text14 h2{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:45%;}
    #six > .box4 > .order > .contents8 > #text14 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents8 > #text14 button:hover{color:gray;}

    #six > .box4 > .order > .contents9{width:900px; height:600px; position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents9 > .photo11{width:900px; height:640px; border-radius:10px; position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents9 > #text15{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;} 
    #six > .box4 > .order > .contents9 > #text15 h1{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:35%;}
    #six > .box4 > .order > .contents9 > #text15 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents9 > #text15 button:hover{color:gray;}

    #six > .box4 > .order > .contents10{width:900px; height:600px;position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents10 > .photo12{width:900px; height:640px; border-radius:10px;position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents10 > #text16{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents10 > #text16 > .photo12-1{width:300px; height:74px;}
    #six > .box4 > .order > .contents10 > #text16 h1{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:35%;}
    #six > .box4 > .order > .contents10 > #text16 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents10 > #text16 button:hover{color:gray;}

    #six > .box4 > .order > .contents11{width:900px; height:600px; position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents11 > .photo13{width:900px; height:640px; border-radius:10px;position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents11 > #text17{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents11 > #text17 > .photo12-2{width:300px; height:74px;}
    #six > .box4 > .order > .contents11 > #text17 h1{width:300px; font-size:20px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:19%;}
    #six > .box4 > .order > .contents11 > #text17 h2{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:55%;}
    #six > .box4 > .order > .contents11 > #text17 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents11 > #text17 button:hover{color:gray;}

    #six > .box4 > .order > .contents12{width:900px; height:600px; position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents12 > .photo14{width:900px; height:640px; border-radius:10px;position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents12 > #text18{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents12 > #text18 > .photo12-3{width:300px; height:74px;}
    #six > .box4 > .order > .contents12 > #text18 h1{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:35%;}
    #six > .box4 > .order > .contents12 > #text18 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents12 > #text18 button:hover{color:gray;}

    #six > .box4 > .order > .contents13{width:900px; height:600px; position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents13 > .photo15{width:900px; height:640px; border-radius:10px;position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents13 > #text19{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents13 > #text19 > .photo12-4{width:300px; height:74px;}
    #six > .box4 > .order > .contents13 > #text19 h1{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:45%;}
    #six > .box4 > .order > .contents13 > #text19 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents13 > #text19 button:hover{color:gray;}

    #six > .box4 > .order > .contents14{width:900px; height:600px; position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents14 > .photo16{width:900px; height:640px; border-radius:10px;position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents14 > #text20{width:350px; height:350px; position:absolute; top:30%; left:5%;transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents14 > #text20 > .photo12-5{width:300px; height:74px;}
    #six > .box4 > .order > .contents14 > #text20 h1{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:35%;}
    #six > .box4 > .order > .contents14 > #text20 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents14 > #text20 button:hover{color:gray;}

    #six > .box4 > .order > .contents15{width:900px; height:600px; position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents15 > .photo17{width:900px; height:640px; border-radius:10px;position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents15 > #text21{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents15 > #text21 > .photo12-6{width:300px; height:74px;}
    #six > .box4 > .order > .contents15 > #text21 h1{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:27%;}
    #six > .box4 > .order > .contents15 > #text21 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents15 > #text21 button:hover{color:gray;}

    #six > .box4 > .order > .contents16{width:900px; height:600px; position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents16 > .photo18{width:900px; height:640px; border-radius:10px;}
    #six > .box4 > .order > .contents16 > #text22{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents16 > #text22 > .photo12-7{width:300px; height:74px;}
    #six > .box4 > .order > .contents16 > #text22 h1{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:33%;}
    #six > .box4 > .order > .contents16 > #text22 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents16 > #text22 button:hover{color:gray;}

    #six > .box4 > .order > .contents17{width:900px; height:600px; position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents17 > .photo19{width:900px; height:640px; border-radius:10px;position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents17 > #text23{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents17 > #text23 > .photo12-8{width:300px; height:74px;}
    #six > .box4 > .order > .contents17 > #text23 h1{width:300px; font-size:19px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:19%;}
    #six > .box4 > .order > .contents17 > #text23 h2{width:300px; font-size:17px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:55%;}
    #six > .box4 > .order > .contents17 > #text23 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents17 > #text23 button:hover{color:gray;}

    #six > .box4 > .order > .contents18{width:900px; height:600px; position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents18 > .photo20{width:900px; height:640px; border-radius:10px;position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents18 > #text24{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents18 > #text24 > .photo12-9{width:300px; height:74px;}
    #six > .box4 > .order > .contents18 > #text24 h1{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:35%;}
    #six > .box4 > .order > .contents18 > #text24 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents18 > #text24 button:hover{color:gray;}

    #six > .box4 > .order > .contents18-1{width:900px; height:600px; position:absolute; top:0; left:0; display:none;}
    #six > .box4 > .order > .contents18-1 > .photo21{width:900px; height:640px; border-radius:10px;position:absolute; top:0; left:0;}
    #six > .box4 > .order > .contents18-1 > #text25{width:350px; height:350px; position:absolute; top:30%; left:5%; transform:translateX(300px); transition:2s; opacity:0;}
    #six > .box4 > .order > .contents18-1 > #text25 > .photo12-9{width:300px; height:74px;}
    #six > .box4 > .order > .contents18-1 > #text25 h1{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; position:absolute; top:40%;}
    #six > .box4 > .order > .contents18-1 > #text25 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
    #six > .box4 > .order > .contents18-1 > #text25 button:hover{color:gray;}

    #six > .box4 > .click{width:300px; height:640px; position:absolute; left:75%; top:4.5%;}
    #six > .box4 > .click > ul > li{padding:15px; cursor:pointer; color:#e5e5e5; border-radius: 10px;}
    #six > .box4 > .click > ul > li:hover{background-color:#e5e5e5; color:#131313; border-radius: 10px; opacity:0.6; transition:0.3s;}
    #six > .box4 > .click > ul > li span{font-family:'Pretendard-Regular';  font-size:20px; }
    .active{background-color:#dddddd; border-radius: 10px; }
    .active span{color:#131313;}

    #six > .box4 > .click1{width:100%; height:30px; display:flex; justify-content: center; display:none;}

    #seven{width:100%; height:300px; display:flex; justify-content: center; align-items:center;}
    .box5{width:1250px; height:250px;}
    .box5 p{width:1250px; height:30px; font-family: 'EliceDigitalBaeum_Regular'; font-size:18px; color:white; margin-left:70px; margin-bottom:20px;}
    .chu{width:1250px; height:160px; text-align:center; display:flex; flex-direction: row; align-items: center; justify-content: space-around;}
    .chu a{text-decoration: none;}
    .chu div{width:300px; color:#898989; font-family:'Pretendard-Regular'; margin-top:10px;}
    .contents19{width:300px; height:152px;}
    .contents19 .photo21{width:300px; height:152px;}
    .contents19 .photo21 img{width:300px; height:152px;}
    .photo21:hover{opacity:0.7; transition:0.3s;}

    #eight{width:100%; height:600px; display:flex; justify-content: center; margin-top:50px;}
    #eight > .box6{width:1835px; height:600px; }
    #eight > .shape{width:700px; height:665px; position:absolute; left:20%; transform:translateX(-300px); transition:2s; opacity:0;}
    .pla{position:absolute; top:30%; left:4%;}
    .shape h1{font-family:'Pretendard-Regular'; font-weight:normal; font-size:19px; position:absolute; top:50%; left:22%; padding:10px 15px; color:#e5e5e5; background-color:rgba(137, 137, 137, 0.5); border-radius:10px; cursor:pointer;}
    .shape h1:hover{color:#898989; background-color:#e5e5e5;}


}