            

            .section{width:100%; height:auto; background-color:#131313; margin-top:50px;}

            #three > .box1 > .contents1 span{font-family: 'Pretendard-Regular';}

            #six > .box4 > .order > .contents8 > #text14 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents8 > #text14 button:hover{color:gray;}
            #six > .box4 > .order > .contents9 > #text15 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents9 > #text15 button:hover{color:gray;}
            #six > .box4 > .order > .contents10 > #text16 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents10 > #text16 button:hover{color:gray;}
            #six > .box4 > .order > .contents11 > #text17 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents11 > #text17 button:hover{color:gray;}
            #six > .box4 > .order > .contents12 > #text18 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents12 > #text18 button:hover{color:gray;}
            #six > .box4 > .order > .contents13 > #text19 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents13 > #text19 button:hover{color:gray;}
            #six > .box4 > .order > .contents14 > #text20 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents14 > #text20 button:hover{color:gray;}
            #six > .box4 > .order > .contents15 > #text21 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents15 > #text21 button:hover{color:gray;}
            #six > .box4 > .order > .contents16 > #text22 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents16 > #text22 button:hover{color:gray;}
            #six > .box4 > .order > .contents17 > #text23 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents17 > #text23 button:hover{color:gray;}
            #six > .box4 > .order > .contents18 > #text24 button{font-family: 'Pretendard-Regular'; font-size:17px; font-weight:normal; border:0; border-radius: 5px; position:absolute; left:0; top:85%; cursor:pointer;}
            #six > .box4 > .order > .contents18 > #text24 button:hover{color:gray;}

            .order h1{width:300px; font-size:20px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5;}
            .order h2{width:300px; font-size:18px; font-family: 'Pretendard-Regular'; font-weight:normal; color:#e5e5e5; }
            

            #six > .box4 > .order > .contents8{position:absolute; top:0; left:0;}
            #six > .box4 > .order > .contents9{position:absolute; top:0; left:0; display:none;}
            #six > .box4 > .order > .contents10{position:absolute; top:0; left:0; display:none;}
            
            #six > .box4 > .order > .contents11{position:absolute; top:0; left:0; display:none;}
            #six > .box4 > .order > .contents12{position:absolute; top:0; left:0; display:none;}
            #six > .box4 > .order > .contents13{position:absolute; top:0; left:0; display:none;}
            #six > .box4 > .order > .contents14{position:absolute; top:0; left:0; display:none;}
            #six > .box4 > .order > .contents15{position:absolute; top:0; left:0; display:none;}
            #six > .box4 > .order > .contents16{position:absolute; top:0; left:0; display:none;}
            #six > .box4 > .order > .contents17{position:absolute; top:0; left:0; display:none;}
            #six > .box4 > .order > .contents18{position:absolute; top:0; left:0; display:none;}

            

            
            

